.buttonbar {
	margin-top: 30px;
}
.buttonbar .button {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.dropdown.button { margin-bottom: 300px; }
}
@media only screen and (max-width: 768px) {
	.dropdown.button:last-child { margin-bottom: 20px; }
	.secondary.dropdown.button:last-child { margin-bottom: 300px; }
}

.dropdown.button > ul li a {
	font-size: 1.2em;
	padding: 8px 14px;
}

.button.secondary.dropdown:after {
	border-color: #1d1d1d transparent transparent transparent;
}

.shortcuts {
	text-align: center;
	margin-bottom: 15px;
}
.shortcut.button {
	display: inline;
	width: 23%;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 10px 5px;
}