[class*="f-icon-"] {
	font-size: 1.4em;
	color: #AAA;
	padding-left: 3px;
	vertical-align: middle;

	-webkit-transition:	color 0.2s ease-in;
	-moz-transition:		color 0.2s ease-in;
	-o-transition:			color 0.2s ease-in;
	transition:				color 0.2s ease-in;
}
[class*="f-icon-"]:hover {
	color: #222;
}
[class*="f-icon-remove"]:hover {
	color: #E61919;
}
