.image_previews {
  position: relative;
}

.image_preview, .image_previews .sortable-placeholder {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  margin: auto;
  position: relative;
}

.image_preview img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.image_preview.scoreboard, .image_previews .sortable-placeholder {
  width: 28%;
  height: 16vw;
  margin: 2%;
}

.image_previews .ui-sortable-placeholder {
  box-shadow: 2px 4px 10px grey;
}

/* First three images are selected */
.image_preview.scoreboard:nth-child(-n+3) {
  background-color: rgba(255, 215, 0, 0.4);
  box-shadow: 2px 4px 10px grey;
}
/* The other images are not selected */
.image_preview.scoreboard:nth-child(1n+4),
.image_preview.scoreboard.ui-sortable-helper {
  background-color: lightgrey;
  opacity: 0.7;
}
