#breadcrumbbar {
	background-color: #111111;
}
ul.breadcrumbs {
	display: inline-block;
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}
ul.breadcrumbs li a, ul.breadcrumbs li span {
	color: white;
	font-size: 15px;
	line-height: 30px;
}
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus {
	color: #D9D9D9;
	text-decoration: none;
}
ul.breadcrumbs li span.current {
	color: #2BA6CB;
}
ul.breadcrumbs li:before {
	content: ">";
}

ul.nav-bar {
	margin-top: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.nav-bar li {
	display: table-cell;
	float: none;
	text-align: center;
}
.nav-bar li, .nav-bar li a:first-child {
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.nav-bar li:hover  {
    background-color: #555;
}
.nav-bar li.active, .nav-bar li.active:hover  {
    background-color: #666;
    border-color: #666;
}

ul.vertical.nav-bar {
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}
ul.vertical.nav-bar, .vertical.nav-bar li {
	display: block;
}
.vertical.nav-bar li a {
	font-size: 14px;
	font-weight: normal;
}

#login {
	float: right;
	margin: 9px 15px 0;
}

