.row {
    width: auto;
}

.custom.dropdown {
	width: auto !important;
}
.custom.dropdown ul {
	width: 100% !important;
}

p#judgedby {
	text-align: center;
	font-size: 2em;
}

#nojs {
	margin: 0;
	border-radius: 0;
}
#nojs a {
	color: inherit;
	text-decoration: underline;
}

h2, h3 {
	text-align: center;
}
h2 a.tiny.button {
	vertical-align: middle;
}
h3 a.tiny.button {
	vertical-align: middle;
	margin-bottom: 3px;
}

form .error {
    padding: 10px 10px 0;
    margin-bottom: 10px;
}
input.form-error {
    margin-bottom: 0;
}

div.alert-box.alert {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}