.row {
    width: auto;
}

#nojs {
	margin: 0;
	border-radius: 0;
}
#nojs a {
	color: inherit;
	text-decoration: underline;
}

h2, h3 {
	text-align: center;
}

form .error {
    padding: 10px 10px 0;
    margin-bottom: 10px;
}
input.form-error {
    margin-bottom: 0;
}