.score {
	padding: 0 20px;
	text-align: right;
}

.min.score, .max.score {
	background: url("strike.png") no-repeat 50% 50%;
}
.total.score {
	font-size: 1.3em;
}

.heading {
	font-weight: normal;
}

#scores {
	margin: 120px 30px 0;
	padding: 0 40px;
}

#total {
	margin: 20px 30px 0;
	padding: 10px 30px 0;
	border-top: 3px solid black;
}
