body { background: black; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { color: white; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #AAA; }
table { background: black; border-color: #252525; }
table thead, table tfoot {	background: #252525; }
table thead tr th, table tfoot tr td { color: white; }
table tbody tr.even, table tbody tr.alt { background: #121212; }
table tbody tr:nth-child(even) { background: #121212; }
table tbody tr td { color: white; }


body, div, dl, dt, dd, ul, ol, li, pre, form, p, blockquote, th, td { font-size: 20px; }
table thead tr th, table tfoot tr th, table tfoot tr td { font-size: 21px; line-height: 27px; }
table tbody tr td, table tr td { font-size: 25px; line-height: 29px; }
h1 { font-size: 50px; }
h2 { font-size: 56px; }
h3 { font-size: 41px; }
h4 { font-size: 23px; }
h5 { font-size: 35px; }
h6 { font-size: 21px; }

table.majoriteit tbody tr td, table.majoriteit tr td { font-size: 35px; line-height: 40px; }

#infopage {
	margin-top: 200px;
}

.score {
	padding: 0 20px;
	text-align: right;
}
td .score {
	padding: 0 10px;
}
td.score {
	padding: 9px 10px;
}

.filler {
	visibility: hidden;
}

h1 .min.score, h1 .max.score {
	background: url("strike.png") no-repeat 50% 55%;
	background-size: 100% 12px;
}
.total.score {
	font-size: 1.3em;
}


.heading {
	font-weight: normal;
}

h3 {
	margin-top: 40px;
}

.nowrap {
	white-space: nowrap;
}

#scores {
	margin: 60px 30px 0;
	padding: 0 40px 10px;
}
#extra {
	margin: 0 30px 0;
	padding: 0 40px 20px;
}
#total {
	margin: 0 40px 0;
	padding: 10px 0 0 30px;
	border-top: 3px solid #BBB;
}
