body { background: black; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { color: white; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #AAA; }
table { background: black; border-color: #111; }
table thead, table tfoot {	background: #101010; }
table thead tr th, table tfoot tr td { color: white; }
table tbody tr.even, table tbody tr.alt { background: #080808; }
table tbody tr:nth-child(even) { background: #080808; }
table tbody tr td { color: #CCC; }


.score {
	padding: 0 20px;
	text-align: right;
}
td .score {
	padding: 0 10px;
}
td.score {
	padding: 9px 10px;
}

.filler {
	visibility: hidden;
}

h1 .min.score, h1 .max.score {
	background: url("strike.png") no-repeat 50% 50%;
}
td .min.score, td .max.score {
	text-decoration: line-through;
}
.total.score {
	font-size: 1.3em;
}


.heading {
	font-weight: normal;
}

h3 {
	margin-top: 40px;
}

#scores {
	margin: 120px 30px 0;
	padding: 0 40px;
}

#total {
	margin: 20px 30px 0;
	padding: 10px 30px 0;
	border-top: 3px solid #BBB;
}
