table {
	margin-left: auto;
	margin-right: auto;
}

table thead {
	background-color: #EBEBEB;
}

td.startnr {
	text-align: right;
}

table tfoot tr td {
	padding: 0;
}
.add .button {
	width: 100%;
}

#sortable .sorthandle {
	cursor: move;
}

table.selectable tbody tr, .selectable input[type=checkbox] {
	cursor: pointer;
}
table.selectable tbody tr:hover td {
	background-color: #F0F3F5;
}
