table {
	margin-left: auto;
	margin-right: auto;
}

table thead {
	background-color: #EBEBEB;
}

td.startnr {
	text-align: right;
}
td.score {
	text-align: right;
}
.filler {
	visibility: hidden;
}
tbody th {
	text-align: left;
	padding: 8px 10px 9px;
}

td.subfield {
	color: #888;
	background-color: #F2F2F2;
	font-weight: bold;
}
td.important, th.important {
	background-color: #E8E8E8;
	font-weight: bold;
	font-size: 1.1em;
}
.important input {
	font-weight: bold;
	font-size: 1.1em;
}

table tfoot tr td {
	padding: 0;
}
.tablebutton .button {
	width: 100%;
}

#sortable .sorthandle {
	cursor: move;
}

table.selectable tbody tr, .selectable input[type=checkbox] {
	cursor: pointer;
}
table.selectable tbody tr:hover td {
	background-color: #F0F3F5;
}

.level1 .name { padding-left: 25px; } .level1 .name:before { content: '* '; }
.level2 .name { padding-left: 40px; } .level2 .name:before { content: '+ '; }
.level3 .name { padding-left: 55px; } .level3 .name:before { content: '- '; }
.level4 .name { padding-left: 70px; } .level4 .name:before { content: '. '; }
.level5 .name { padding-left: 85px; }
